# Ayomide Dada's Entry for The Shopify Intern Challenge

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Loading in the shopify dataset provided as data
data = pd.read_csv("Shopify data.csv", index_col="order_id")

In [3]:
data.head()

,shop_id,user_id,order_amount,total_items,payment_method,created_at
order_id,,,,,,
1,53,746,224,2,cash,2017-03-13 12:36:56
2,92,925,90,1,cash,2017-03-03 17:38:52
3,44,861,144,1,cash,2017-03-14 4:23:56
4,18,935,156,1,credit_card,2017-03-26 12:43:37
5,18,883,156,1,credit_card,2017-03-01 4:35:11

In [4]:
#Making a copy of the data in order not to distort the original data
df = data.copy()

In [5]:
#Sorting by date to be sure the data is of only one month
df["created_at"] = pd.to_datetime(df["created_at"])

In [6]:
df["created_at"].sort_values()

order_id
1863   2017-03-01 00:08:09
1742   2017-03-01 00:10:19
3229   2017-03-01 00:14:12
1268   2017-03-01 00:19:31
2690   2017-03-01 00:22:25
               ...
2631   2017-03-30 23:12:13
1686   2017-03-30 23:16:10
1475   2017-03-30 23:26:54
318    2017-03-30 23:41:34
2458   2017-03-30 23:55:35
Name: created_at, Length: 5000, dtype: datetime64[ns]

In [7]:
#The average order value calculated in the question was computed using only the order amounts, without considering the total items sold
AOV = df["order_amount"].mean()
AOV

3145.128

In [8]:
# To get the (AOUV) average unit order value (which would take into consideratin every unit of item sold)
df["unit_order_value"] = df["order_amount"]/df["total_items"]

In [9]:
AUOV = df["unit_order_value"].mean()

In [10]:
AUOV

387.7428

In [11]:
# Taking out both outlier stores and calculating a new AUOV
df.drop(df.index[df["shop_id"] == 42], inplace = True)
df.drop(df.index[df["shop_id"] == 78], inplace = True)

In [12]:
new_AUOV = df["unit_order_value"].mean()

In [13]:
new_AUOV

150.40016316540894